<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in persons | orderBy:sortField:sortDescending">
            <td>
                <in-place-edit field-name='emailAddress' input-type='text' input-class='input-large' model=person>{{person.emailAddress}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='firstName' input-type='text' input-class='input-large' model=person>{{person.firstName}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='lastName' input-type='text' input-class='input-large' model=person>{{person.lastName}}</in-place-edit>
            </td>
                        
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updatePerson(person)">edit</a></li>
                    <li role="presentation"><a ng-click="deletePerson(person)">delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
